footer{
    background-color: gray;
}
header{
    margin-bottom: -5px;

}

.img{
    display: block;
    justify-content: space-between;
    padding: 60px;
    text-align: center;
   
}

div img{
    margin: 50px
}




/* images*/
.desk{
    max-width: 200px;max-height: 200px;border-radius: 70%; overflow: hidden; border: solid rgb(55, 55, 55) 10px;
}
.graphic{
    max-width: 200px;max-height: 200px;border-radius: 70%; overflow: hidden; border: solid rgb(55, 55, 55) 10px;
}
.person{
    max-width: 200px;max-height: 200px;border-radius: 70%; overflow: hidden; border: solid rgb(55, 55, 55) 10px;

}

.firstblockimg {
    width: 100%;
}

body {
    margin:0;
  
}