@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Smooch&display=swap');


#content {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

nav a {
  text-align: center;
  padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
  color: white;
}
.button-box{
  text-align: center;
}
main section {
  text-align: center;
}

body {
  background-color: pink;
  margin: 0;
  padding: 0;
  font-size: 22px;

}
header {
  background-color: darkgrey;
  width: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
}
nav a:hover {
  background-color: white;
  color: blue;
}
nav a {
  color: gold;
  text-decoration: none;
  padding: 35px;
  text-align: center;
}
.book, .join {
  background-color: rgb(144, 185, 238) ;
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: red;
  color: black;
}

#background {
  background-color: purple;
  height: 725px;
}

.msg {
  background-color: #6f7364;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}
footer {
  background-color: #6f7364;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-title, h4 {
  color: black;
  font-family: 'Smooch', cursive;
  font-size: 2em;
  margin-top: 10px;
  letter-spacing: 2px;
  /* font-family: 'Josefin Sans', sans-serif; */
}

.msg h2, p {
  color: black;
}
footer h3{
  color: black;
}
footer a {
  color: gold;
  text-decoration: none
}
footer a:hover {
  color: white;
}

.logo, .icon {
  width: 80px;
}
#hero-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  z-index: 1;
}
.icon {
  padding-top: 10px;
}

.msg p {
  padding-bottom: 15px;
}


footer .social img   {
  padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}  


main section img {
  box-sizing: border-box;
  margin-left: 20px;

}

nav {
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

#background {
  grid-column: 1/11;
  grid-row: 4/9;
}

.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg {
  grid-column: 6/10;
  grid-row: 6/7;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}
.card-img {
  border: solid black 10px;
  margin-left: 100px;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}